<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Calendar</title>
  <!--스타일링 추가-->
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'dateapp/calendar.css' %}">

</head>

<body>
  <div>My Name : {{username}}</div>
  <div id="calendar"></div>
  <script src="{% static 'dateapp/calendar.js' %}"></script>
  {% if context %}
  {{ context | json_script:'jsonData'}}
  <script type = "text/javascript"> 
      var Info = JSON.parse(document.getElementById('jsonData').textContent);
      for( var key1 in Info){
          var jsonData = JSON.parse(Info[key1])
          // console.log(key1) 0 1 2 3
          //    for (var key2 in jsonData){
          //   //console.log(key2) InfoId username date time do 
          //   if(key2=='date'){
          //     jsonData[key2] = jsonData[key2].replaceAll('-','')
          //     document.getElementById(jsonData[key2]).innerHTML = "<br>"+jsonData['username']+"<br>"+jsonData['time']+"<br>"+jsonData['do']
          //   }
          //     document.write(key2+" : " +jsonData[key2]+"<br>")            
          // }
          //jsonData['date'] = jsonData['date'].replaceAll('-','')
          document.getElementById(jsonData['date']).innerHTML += "<br>"+jsonData['username']+"<br>"+jsonData['time']+"<br>"+jsonData['do']

      }
  </script>

<!-- {% endif %}


{% for info in context.values %}
  <div>{{info}}</div>
{% endfor %}


  {{context.x}}  얘는 dict로  {1:[infotable의 id, user_id, date, time, do]} 
  {% for info in informations %}
        <div>{{ info.id }}</div> InfoTBL의 id (pk)
        <div>{{ info.date }}</div> 
        <div>{{ info.time }}</div>
        <div>{{ info.do }}</div>
        <div>{{ info.user }}</div> PersonTBL의 username (InfoTBL의 외래키)
        <div>{{ info.user_id }}</div> PersonTBL의 id 
    {% endfor %} -->
    
</body>
</html>