<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1 style="font-size: 50px;">Date</h1>
    {% if error_message %}<p><strong style="color: red;">{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'dateapp:calendar' %}" method="post" autocomplete="off">{% csrf_token %}
        <input type="hidden" autocomplete="false">
        
        <label for="name" style="font-size: 40px;">Type Your Name : </label>
        <input type="text" id="name" required name="namevalue" style="height: 30px;">
        <input type="submit" value="confirm" style="width:100px; height:40px;">
    </form>
</body>
</html>