html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    position: relative;
  }


  #calendar {
    height: 99%;
    box-sizing: border-box;
    padding: 0.5%;
    font-size: 20px;
  }

  .calendar__day {
    display: inline-block;
    vertical-align: bottom;
    width: calc(97% / 7);
    height: calc(98% / 5);
    box-sizing: border-box;
    border-radius: 5px;
    color: black;
  }

  .horizontalGutter {
    margin-right: 0.5%;
  }

  .verticalGutter {
    margin-top: 0.5%;
  }
  a{
    text-decoration: none;
  }

  .your-id{
    width: calc(100%);
    height: calc(100%);
    cursor: pointer;
  }

  input{
    display: none;
  }